@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: icons;
  src: url(http://localhost:8888/assets/fonts/icons.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'icons', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
